<%- include ../partials/header %>


<div class="ui main container">
    <div class="ui attached message">
        <div class="header">
            New Blog
        </div>
    </div>
    <form class="ui form attached fluid segment" action="/" method="POST" id="blogForm" enctype="multipart/form-data">
        <div class="field">
            <label>Edit Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
            <label>Edit Image</label>
            <input type="file" name="fileupload" id="fileupload">
            <label for="fileupload">Select a file to upload</label>
            <label>Edit Blog Text</label>
            <textarea name="blog[text]" placeholder="Blog Text" form="blogForm"></textarea>
            <label for="">Tags (Optional): </label>
            <input type="text" name="metadata[tags]" placeholder="Separate with commas">
        </div>
        <button class="ui button" type="submit" id="blogSubmit">
            New
        </button>
    </form>
</div>

<br>


<%- include ../partials/footer %>