        <div class = "ui bottom fixed menu segments" id="trademark">
            <div class="ui center aligned container">
                <span ><i class="trademark icon"></i>Trademark MyApp 2019</span>
            </div>
        </div>
        
        <script type="text/javascript" src="../scripts/script.js" charset="utf-8"></script>
    </body>
</html>