.completed{
    text-decoration: line-through;
}

body, #trademark{
    background-color: #0375B4;
}

a{
    text-decoration: none;
}

.h2{
    display:inline-block;
}

.centeredSpecific{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredAll{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blogImage{
    max-height:250px;
    width: auto;
    height: auto;
}