
<div class="ui main container">
    <div class="ui attached message">
        <div class="header">
            New Blog
        </div>
    </div>
    <form class="ui form attached fluid segment" action="/" method="POST" id="blogForm" enctype="multipart/form-data">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
            <label>Image URL</label>
            <input type="file" name="fileupload" id="fileupload">
            <label for="fileupload">Select a file to upload</label>
            <label>Blog Content</label>
            <textarea name="blog[text]" placeholder="Blog Text" form="blogForm"></textarea>
        </div>
        <button class="ui button" type="submit" id="blogSubmit">
            New
        </button>
    </form>
</div>

<br>

<!-- Image preview -->
<div id="imagePreview" style="background:cadetblue">Hi</div>
